In [1]:
import pandas as pd
import numpy as np

s=pd.Series(['0', 'John Wood', 'Colin Welsh', 'my list', '02456', np.nan, 'HELLO WORLD', 'water%'])

In [2]:
s

0              0
1      John Wood
2    Colin Welsh
3        my list
4          02456
5            NaN
6    HELLO WORLD
7         water%
dtype: object

In [4]:
s.str.capitalize()

0              0
1      John wood
2    Colin welsh
3        My list
4          02456
5            NaN
6    Hello world
7         Water%
dtype: object