In [2]:
import pandas as pd

meal_plan = ['Monday: 9:12am – Omelet,  3:30pm– Apple slices with almond butter', 
             'Tuesday: 9:35am – Banana bread, 11:00am –Sauteed veggies, 7:02pm– Taco pie',
             'Wednesday: 9:00am – Banana pancakes',  
             'Thursday: 7:23pm– Slow cooker pulled pork', 'Friday: 3:30pm – Can of tuna', 
             'Saturday: 9:11am: Eggs and sweet potato hash browns, 3:22pm: Almonds', 
             'Sunday: 11:00am: Meat and veggie stir fry'] 

df = pd.DataFrame(meal_plan, columns=['text'])
df

                                                text
0  Monday: 9:12am – Omelet,  3:30pm– Apple slices...
1  Tuesday: 9:35am – Banana bread, 11:00am –Saute...
2                Wednesday: 9:00am – Banana pancakes
3          Thursday: 7:23pm– Slow cooker pulled pork
4                       Friday: 3:30pm – Can of tuna
5  Saturday: 9:11am: Eggs and sweet potato hash b...
6          Sunday: 11:00am: Meat and veggie stir fry

In [58]:
menues = df.text

In [59]:
menues = menues.str.extractall('(\d?\d):(\d\d) ?([ap]m)')
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
meals = ['Breakfast','Lunch','Dinner']

In [67]:
menues.index.set_levels([days,meal],inplace=True)
menues.index.set_names(['Days','Meal'],inplace=True)
menues.columns=['Hour','Minutes','Period']
menues

               Hour Minutes Period
Days Meal
Mon  Breakfast    9      12     am
     Lunch        3      30     pm
Tue  Breakfast    9      35     am
     Lunch       11      00     am
     Dinner       7      02     pm
Wed  Breakfast    9      00     am
Thu  Breakfast    7      23     pm
Fri  Breakfast    3      30     pm
Sat  Breakfast    9      11     am
     Lunch        3      22     pm
Sun  Breakfast   11      00     am