# Capstone proposal by Xavier Nicolovici

# NYC Taxi travel time: can I determine the average travel time depending on the weather forecast ?

This notebook is a template for your project proposal.

The details are outlined in the **Proposal** unit on the platform - you should address all points from those instructions with as many markdown/code cells as needed. This should include code, observations, discussions and the planned steps.

## 1) The problem

In order to ensure that the numbers of TAXI available in New-York City are sufficient, I'd like to find out a model that could give me the total travel time that will have to be assumed by taximen, depending on the weather and precipitation in NYC.

## 2) The data

### (a) Clear overview of your data

My work will rely on two datasets:

1. The first one come from Kaggle, it gives me the travel time (my dependent value) for taxi, along with features like number of passenger, pickup time, pickupo location and drop off location. This dataset contains 1'500'000 lines with 11 features measured from the 1st on january 2016 to the 1st of july 2016.

2. The second dataset has been requested from https://www.ncdc.noaa.gov/cdo-web/confirmation. It gives me daily informations about the weather in different location of New-York. This dataset contains 11'500 lines with weather information from the same interval as the first dataset.

In [6]:
import pandas as pd
import os

In [7]:
nyc = pd.read_csv(os.path.join('data','NYC.csv'))
nyc.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [8]:
nyc_weather = pd.read_csv(os.path.join('data','nyc_weather.csv'), low_memory=False)
nyc_weather.describe()

,LATITUDE,LONGITUDE,ELEVATION,AWND,DAPR,DASF,MDPR,MDSF,PGTM,PRCP,...,WT01,WT02,WT03,WT04,WT05,WT05_ATTRIBUTES,WT06,WT08,WT09,WT11
count,11544.000000,11544.000000,11449.000000,1453.000000,150.000000,2.0,149.000000,2.000000,729.000000,11343.000000,...,441.0,40.0,58.0,17.0,0.0,0.0,10.0,174.0,5.0,3.0
mean,40.758001,-74.112641,46.363027,3.854577,4.226667,2.0,15.929530,673.000000,1308.508916,2.736102,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0
std,0.212299,0.259589,44.273220,1.946035,3.340109,0.0,17.364948,53.740115,554.977646,8.209303,...,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
min,40.275368,-74.482746,2.100000,0.100000,2.000000,2.0,0.000000,635.000000,1.000000,0.000000,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0
25%,40.658817,-74.284687,13.400000,2.500000,2.000000,2.0,2.800000,654.000000,1043.000000,0.000000,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0
50%,40.772892,-74.157339,24.700000,3.400000,3.000000,2.0,8.900000,673.000000,1356.000000,0.000000,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0
75%,40.914670,-74.000247,72.500000,4.900000,5.000000,2.0,22.900000,692.000000,1629.000000,1.500000,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0
max,41.083546,-73.373090,188.700000,11.200000,24.000000,2.0,81.000000,711.000000,2359.000000,451.100000,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0

### (b) Plan to manage and process the data

As I would like to find out a model to determiner the travel time depending on the weather, after cleaning up the two datasets, I will merge them into on big dataset.

The most difficult part in this merge will be to map the pickup location from the TAXI database with the nearer weather station location. Will see ;-)

## 3) Exploratory data analysis (EDA)

### (a) Preliminary EDA

The weather dataset is the one with a lot of features. I will certainly have to remove dependent features and useless ones. This will have to be determined using correlation methods.

### (b) How does the EDA inform your project plan?

-

### (c) What further EDA do you plan for project?

-

## 4) Machine learning

### (a) Phrase your project goal as a clear machine learning question

Is it possible to determine the travel time for all the TAXI for the following days by looking at the weather previsions ?

### (b) What models are you planning to use and why?

I'd like to compare performance of a logistic regression model against a k-nn neural network.

### (c) Please tell us your detailed machine learning strategy

As I'm used to, I will certainly use a GridSearchCV approach to fit and optimize my ML models.
I will graph results I get

## 5) Additional information

< If needed, discuss here any elements or approaches that do not fit with the above categories >