In [2]:
import pandas as pd
import os

data_df = pd.read_csv(os.path.join('.','electric-cars.csv'))
data_df.head(1)

   Temperature [째F]  Energy Consumption [Wh/mil]
0               -15                          460

In [7]:
data_df.describe()

       Temperature [째F]  Energy Consumption [Wh/mil]
count         57.000000                    57.000000
mean          37.719298                   336.122807
std           31.111409                    56.795394
min          -15.000000                   260.000000
25%           12.000000                   290.000000
50%           37.000000                   342.000000
75%           62.000000                   365.000000
max           92.000000                   540.000000

In [5]:
# Generate a list of indexes

import numpy as np

n = len(data_df)

indexes = np.arange(n)
print("Indexes = ",indexes)

Indexes =  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56]