In [3]:

import pandas as pd

import os

In [8]:
pd.read_excel(os.path.join('data','data.xls'),usecols=['varA','varB'])

       varA      varB
0  0.391723 -0.155122
1  0.575125 -0.105817
2  0.672305  0.424688
3  0.766115 -0.791350
4  0.677259 -0.817543
5 -0.029702 -0.891848
6 -0.161366 -0.659600
7  0.031672  0.016607
8  0.833212 -0.503236
9  0.907753  0.265177