In [2]:
import pandas as pd
import os

In [4]:
pd.read_json(os.path.join('..','data','frame.json'))

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [9]:
import json
from pandas.io.json import json_normalize

In [10]:
pd.read_json(os.path.join('..','data','book.json'))

                                               books
0  {'isbn': '9781593275846', 'title': 'Eloquent J...
1  {'isbn': '9781449331818', 'title': 'Learning J...
2  {'isbn': '9781449365035', 'title': 'Speaking J...

In [15]:
with open(os.path.join('..','data','book.json'), 'r') as f:
    json_string = f.read()
    dictionary = json.loads(json_string)

dictionary

{'books': [{'isbn': '9781593275846',
   'title': 'Eloquent JavaScript, Second Edition',
   'subtitle': 'A Modern Introduction to Programming',
   'author': 'Marijn Haverbeke',
   'published': '2014-12-14T00:00:00.000Z',
   'publisher': 'No Starch Press',
   'pages': 472,
   'description': 'JavaScript lies at the heart of almost every modern web application, from social apps to the newest browser-based games. Though simple for beginners to pick up and play with, JavaScript is a flexible, complex language that you can use to build full-scale applications.',
   'website': 'http://eloquentjavascript.net/'},
  {'isbn': '9781449331818',
   'title': 'Learning JavaScript Design Patterns',
   'subtitle': "A JavaScript and jQuery Developer's Guide",
   'author': 'Addy Osmani',
   'published': '2012-07-01T00:00:00.000Z',
   'publisher': "O'Reilly Media",
   'pages': 254,
   'description': "With Learning JavaScript Design Patterns, you'll learn how to write beautiful, structured, and maintainable JavaScript by applying classical and modern design patterns to the language. If you want to keep your code efficient, more manageable, and up-to-date with the latest best practices, this book is for you.",
   'website': 'http://www.addyosmani.com/resources/essentialjsdesignpatterns/book/'},
  {'isbn': '9781449365035',
   'title': 'Speaking JavaScript',
   'subtitle': 'An In-Depth Guide for Programmers',
   'author': 'Axel Rauschmayer',
   'published': '2014-02-01T00:00:00.000Z',
   'publisher': "O'Reilly Media",
   'pages': 460,
   'description': 'Like it or not, JavaScript is everywhere these days-from browser to server to mobile-and now you, too, need to learn the language or dive deeper than you have. This concise book guides you into and through JavaScript, written by a veteran programmer who once found himself in the same position.',
   'website': 'http://speakingjs.com/'}]}

In [16]:
json_normalize(dictionary,'books').describe()

            pages
count    3.000000
mean   395.333333
std    122.545230
min    254.000000
25%    357.000000
50%    460.000000
75%    466.000000
max    472.000000