In [1]:
import pandas as pd
import sqlite3

In [2]:
db = sqlite3.connect('my_database.sqlite')

In [3]:
query= "CREATE TABLE customer (id INTEGER PRIMARY KEY, first_name TEXT, last_name TEXT, age INTEGER);"
cursor = db.cursor()
cursor.execute(query)

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
results = cursor.fetchall()
query = "INSERT INTO customer VALUES  (701, 'Mackenzie', 'Fox', 35)"
cursor.execute(query)
db.commit()

In [5]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35)]

In [6]:
cursor.execute("ALTER TABLE customer ADD COLUMN city TEXT DEFAULT 'Geneva';")
db.commit()

In [7]:
df2 = pd.DataFrame([[702, 'Emily', 'Joy', 49, 'Geneva']], columns=['id','first_name','last_name', 'age', 'city'])
df2

    id first_name last_name  age    city
0  702      Emily       Joy   49  Geneva

In [8]:
df2.to_sql(name='customer', con=db, if_exists='append', index=False)

In [9]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35, 'Geneva'), (702, 'Emily', 'Joy', 49, 'Geneva')]

In [10]:
db = sqlite3.connect('songs.db')
cursor= db.cursor()

In [11]:
for chunk in pd.read_csv("songs.csv", chunksize=4):
    chunk.to_sql(name="data", con=db, if_exists="append", index=False)  
    print(chunk.iloc[0, 2])

Stairway to Heaven
Black Dog
All My Love
Rebel Rebel
Golden Years

In [12]:
pd.read_sql_query('SELECT * FROM data;', db)

        Musician       Genre                        Name  Decade Minutes
0   Led Zeppelin   hard rock          Stairway to Heaven      70   08:02
1   Led Zeppelin   hard rock                     Kashmir      70   08:37
2   Led Zeppelin   hard rock              Immigrant Song      70   02:26
3   Led Zeppelin   hard rock            Whole Lotta Love      60   05:33
4   Led Zeppelin   hard rock                   Black Dog      70   04:55
5   Led Zeppelin   hard rock        Good Times Bad Times      60   02:43
6   Led Zeppelin   hard rock                   Moby Dick      60   04:25
7   Led Zeppelin   hard rock                   Ramble On      60   04:35
8   Led Zeppelin   hard rock                 All My Love      70   05:53
9   Led Zeppelin   hard rock  The Song Remains the Same       70   05:24
10  Led Zeppelin   hard rock       I Can't Quit You Baby      60   04:42
11   David Bowie    pop rock                Space Oddity      60   05:15
12   David Bowie    pop rock                 Rebel Rebel      70   04:22
13   David Bowie    pop rock              Under Pressure      80   04:08
14   David Bowie    pop rock                  China Girl      70   05:08
15   David Bowie    pop rock     I'm Afraid of Americans      90   05:00
16   David Bowie    pop rock                Golden Years      70   04:00
17     Bob Dylan  folk rock         Like a Rolling Stone      60   06:13
18     Bob Dylan  folk rock          Blowin' in the Wind      60   02:48
19     Bob Dylan  folk rock           Tangled Up in Blue      70   05:42