In [1]:
import pandas as pd
import sqlite3

In [2]:
db = sqlite3.connect('consumer_complaints.sqlite')

In [6]:
for chunck in pd.read_csv('consumer_complaints.csv', chunksize=20):
    chunck.to_sql(name="complaints", con=db, if_exists="append", index=False)

In [10]:
pd.read_sql_query('SELECT count(*) FROM complaints;', db)

   count(*)
0     65499

In [14]:
pd.read_sql_query('SELECT submitted_via AS Method, count(complaint_id) as Number FROM complaints group by submitted_via ORDER BY Number DESC;', db)

        Method  Number  65499
0          Web   43947  65499
1     Referral   10587  65499
2        Phone    4974  65499
3  Postal mail    4894  65499
4          Fax    1076  65499
5        Email      21  65499

In [17]:
pd.read_sql_query('SELECT submitted_via AS Method, count(complaint_id) as Number, (select count(complaint_id) FROM complaints) AS Total FROM complaints group by submitted_via ORDER BY Number DESC;', db)

        Method  Number  Total
0          Web   43947  65499
1     Referral   10587  65499
2        Phone    4974  65499
3  Postal mail    4894  65499
4          Fax    1076  65499
5        Email      21  65499

In [24]:
pd.read_sql_query('''
SELECT submitted_via AS Method, count(complaint_id) As Number,
(select count(complaint_id) FROM complaints) AS Total,

(CAST (count(complaint_id) AS double precision)/CAST ((select count(complaint_id) FROM complaints)  AS double precision))*100 AS Percent

FROM complaints group by submitted_via ORDER BY Number DESC;
''', db)

        Method  Number  Total    Percent
0          Web   43947  65499  67.095681
1     Referral   10587  65499  16.163606
2        Phone    4974  65499   7.594009
3  Postal mail    4894  65499   7.471870
4          Fax    1076  65499   1.642773
5        Email      21  65499   0.032062