In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv('bike-small.csv')

In [3]:
data_df.head()

    temp  weekday  casual
0  0.344        6     331
1  0.363        0     131
2  0.196        1     120
3  0.200        2     108
4  0.227        3      82

In [4]:
data_df.weekday.value_counts()

6    105
1    105
0    105
5    104
4    104
3    104
2    104
Name: weekday, dtype: int64

In [26]:
#R2 score with temperature only

X = data_df[['temp']].values
y = data_df['casual'].values

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X,y)

print("R2 score without temperature only: {:.03f}".format(lr.score(X,y)))

R2 score without temperature only: 0.295

In [27]:
#R2 score without modification on weekdays

X = data_df.drop('casual',axis=1).values
y = data_df['casual'].values

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X,y)

print("R2 score without modifying weekday numbers: {:.03f}".format(lr.score(X,y)))

R2 score without modifying weekday numbers: 0.299

In [32]:
# Use the get_dummies function from Pandas


encoded_df = pd.get_dummies(data_df,columns=['weekday'])
encoded_df.head()

,temp,casual,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0.344,331,0,0,0,0,0,0,1
1,0.363,131,1,0,0,0,0,0,0
2,0.196,120,0,1,0,0,0,0,0
3,0.200,108,0,0,1,0,0,0,0
4,0.227,82,0,0,0,1,0,0,0

In [33]:
#R2 score without modification on weekdays

X = encoded_df.drop('casual',axis=1).values
y = encoded_df['casual'].values


lr = LinearRegression()

lr.fit(X,y)

print("R2 score without modifying weekday numbers: {:.03f}".format(lr.score(X,y)))

R2 score without modifying weekday numbers: 0.597

In [35]:
# Drop first column


encoded_df = pd.get_dummies(data_df,columns=['weekday'], drop_first=True)
encoded_df.head()

,temp,casual,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0.344,331,0,0,0,0,0,1
1,0.363,131,0,0,0,0,0,0
2,0.196,120,1,0,0,0,0,0
3,0.200,108,0,1,0,0,0,0
4,0.227,82,0,0,1,0,0,0

In [36]:
encoded_df = pd.get_dummies(data_df,columns=['weekday'], drop_first=True)
encoded_df.head()

,temp,casual,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0.344,331,0,0,0,0,0,1
1,0.363,131,0,0,0,0,0,0
2,0.196,120,1,0,0,0,0,0
3,0.200,108,0,1,0,0,0,0
4,0.227,82,0,0,1,0,0,0