In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[3,6,1,12,3],'B':[0,0,7,5,6],'C':[10,4,5,8,2]})
df

    A  B   C
0   3  0  10
1   6  0   4
2   1  7   5
3  12  5   8
4   3  6   2

In [6]:
df.sort_index(ascending=False, axis = 1)

    C  B   A
0  10  0   3
1   4  0   6
2   5  7   1
3   8  5  12
4   2  6   3

In [10]:
df['A'].sort_values(ascending=False)

3    12
1     6
4     3
0     3
2     1
Name: A, dtype: int64

In [13]:
df.sort_values(['B','C'])

    A  B   C
1   6  0   4
0   3  0  10
3  12  5   8
4   3  6   2
2   1  7   5