In [1]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
weather = pd.read_csv('https://github.com/alanjones2/dataviz/raw/master/londonweather.csv')
weather.head(2)

   Year  Month  Tmax  Tmin  Rain   Sun
0  1957      1   8.7   2.7  39.5  53.0
1  1957      2   9.0   2.9  69.8  64.9

In [5]:
conn = sql.connect('weather.db')
weather.to_sql('weather', conn)