# Course Project No 3 - Part 2 - House prices

Let's import all the base libraries that we will use in this Notebook

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

## Goal of this second part

Estimate the price of 500 houses using a model based on 2'430 house prices, analyzing a dataset made of 82 features

## A quick look at the data

In [24]:
data_df = pd.read_csv(os.path.join('data','house-prices.csv'))
data_df.head(3)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,484,528275070,60,RL,NaN,8795,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,236000
1,2586,535305120,20,RL,75.0,10170,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,155000
2,2289,923228250,160,RM,21.0,2001,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,75000

## Data cleaning

Data in this set is not optimal and has to be cleaned before being used. Here is the methodology followed.

### Drop useless columns

Order and PID columns are useless to fit models. Drop it :-)

In [25]:
data_df.drop(['Order', 'PID'], axis=1, inplace=True)

### Remove columns with more than 20% empty cells
Some of the columns contains a huge amount of null cells, we should drop them as they won't be pertinent to build our model.
Choice has been done to drop columns where number of null cells represent more than 20% of total cells

In [26]:
# Number of lines in dataset
total_cell = data_df.shape[0]

# NULL_CELL_LIMIT is the max allowed percentage of null value in a column
NULL_CELL_LIMIT = 0.20

# List of columns that we will drop
columns_to_drop = list()

# Loop in each column and identify the one to drop
for c in data_df.columns:
    no_of_null_cell = data_df[c].isnull().sum()
    if(no_of_null_cell/total_cell > NULL_CELL_LIMIT):
        columns_to_drop.append(c)

print("Columns to drop:", ','.join(columns_to_drop))
# Drop identified columns
data_df.drop(columns_to_drop, axis=1, inplace=True)

Columns to drop: Alley,Fireplace Qu,Pool QC,Fence,Misc Feature

In [31]:
data_df['Mas Vnr Type'].unique()

array(['None', 'BrkFace', 'Stone', nan, 'BrkCmn', 'CBlock'], dtype=object)

## Feature encoding

## Feature engineering

## Model fitting

## Regularization

## Communicating the results

## Compute predictions

## Evaluate your predictions