In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
train_df = pd.read_csv(os.path.join('data','house-prices.csv'))
train_df.shape

test_df = pd.read_csv(os.path.join('data','house-prices-test.csv'))
test_df.shape

(500, 81)

In [2]:
test_df['SalePrice'] = np.nan

In [3]:
test_df.shape

(500, 82)

In [4]:
data_df = pd.concat([train_df, test_df], ignore_index=True, sort=False)

In [5]:
data_df[data_df['SalePrice'].isnull()].shape

(500, 82)

In [6]:
data_df.shape

(2930, 82)

In [7]:

train_df['total'] = train_df['1st Flr SF'] + train_df['2nd Flr SF']

train_df['test'] = train_df['total'] == train_df['Gr Liv Area']
train_df['delta'] = train_df['Gr Liv Area'] - train_df['total']
train_df[['1st Flr SF', '2nd Flr SF', 'Gr Liv Area', 'total', 'test', 'delta']]
train_df[['test', 'delta']].groupby('test').count()

       delta
test
False     30
True    2400

In [8]:
train_df['test'] = train_df['Low Qual Fin SF'] == 0
train_df.groupby('test').count()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,total,delta
test,,,,,,,,,,,,,,,,,,,,,
False,30,30,30,30,26,30,30,7,30,30,...,8,1,30,30,30,30,30,30,30,30
True,2400,2400,2400,2400,1984,2400,2400,156,2400,2400,...,481,89,2400,2400,2400,2400,2400,2400,2400,2400

In [10]:
np.arange(0.5, 3, step=20)

array([0.5])