In [5]:
import pandas as pd
import os

data_df = pd.read_csv(os.path.join('data','house-prices.csv'))
data_df.shape

(2430, 82)

In [3]:
# Number of lines in dataset
total_cell = data_df.shape[0]

# NULL_CELL_LIMIT is the max allowed percentage of null value in a column
NULL_CELL_LIMIT = 0.20

# List of columns that we will drop
columns_to_drop = list()

# Loop in each column and identify the one to drop
for c in data_df.columns:
    no_of_null_cell = data_df[c].isnull().sum()
    if(no_of_null_cell/total_cell > NULL_CELL_LIMIT):
        columns_to_drop.append(c)

print("Columns to drop:", ','.join(columns_to_drop))

Columns to drop: Alley,Fireplace Qu,Pool QC,Fence,Misc Feature

In [53]:
# Ensure that number of houses without a pool is in line with the poll size information (only houses with
# a pool should have a pool area above 0)
print("Number of houses with pool:\t",data_df.shape[0] - data_df['Fireplace Qu'].isnull().sum())
print("Number of pool area > 0:\t",data_df[data_df['Fireplaces'] > 0]['Fireplaces'].count())

# Replace null values in 'Pool QC' by 'no', non null by 'yes', and store it in 'Pool' column
#data_df['Pool'] = np.where(data_df['Pool QC'].isnull(), 'no', 'yes')

Number of houses with pool:	 1244
Number of pool area > 0:	 1244

In [52]:
data_df[['Fence','PID']].groupby('Fence').count().sort_values('PID', ascending=False)

       PID
Fence
MnPrv  288
GdPrv   97
GdWo    94
MnWw    10

In [67]:
pd.get_dummies(data_df,columns=['Fireplace Qu']).head(2)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Fireplace Qu_Ex,Fireplace Qu_Fa,Fireplace Qu_Gd,Fireplace Qu_Po,Fireplace Qu_TA
0,484,528275070,60,RL,NaN,8795,Pave,NaN,IR1,Lvl,...,4,2009,WD,Normal,236000,0,0,0,0,1
1,2586,535305120,20,RL,75.0,10170,Pave,NaN,Reg,Lvl,...,6,2006,WD,Normal,155000,0,0,1,0,0