In [69]:
import pandas as pd
import os

data_df = pd.read_csv(os.path.join('data','house-prices.csv'))
data_df.shape

(2430, 82)

In [70]:
# Number of lines in dataset
total_cell = data_df.shape[0]

# NULL_CELL_LIMIT is the max allowed percentage of null value in a column
NULL_CELL_LIMIT = 0.20

# List of columns that we will drop
columns_to_drop = list()

# Loop in each column and identify the one to drop
for c in data_df.columns:
    no_of_null_cell = data_df[c].isnull().sum()
    if(no_of_null_cell/total_cell > NULL_CELL_LIMIT):
        columns_to_drop.append(c)

print("Columns to drop:", ','.join(columns_to_drop))

Columns to drop: Alley,Fireplace Qu,Pool QC,Fence,Misc Feature

In [75]:

def encodeOrdinalColumnToNumeric(df, columns=[], mapping={}, replacena= None, inplace=True):
    """
    This function replaces values in columns passed as parameter using the mapping dict provided.
    Key of the dict are used as search value in cells, and if match, cell value is replace by the value
    of mapping[key]
    replacena parameter, if different from None is used as replacement of null values
    Inplace parameter is used to perform changes directly on the dataframe passed as parameter or a copy of it
    Whatever the value of inplace parameter, the modified dataframe is returned by ther function
    """
    if(not inplace):
        df = df.copy()
    # replace null values
    if replacena != None:
        df.loc[df[column].isnull(), column] = replacena
    # replace values using mapping
    for key in mapping:
        print(key, mapping[key])
        df.loc[df[column] == key, column] = mapping[key]
    
    return df

mapping = {
    'Ex': 5,
    'Gd': 4,
    'TA': 3,
    'Fa': 2,
    'Po': 1,
}
temp_df = encodeOrdinalColumnToNumeric(data_df, column='Fireplace Qu', mapping=mapping, replacena=0, inplace=False)
# data_df.loc[data_df['Fireplace Qu'] == 'TA', 'Fireplace Qu'] = 10
temp_df[['PID','Fireplace Qu']]['Fireplace Qu'].unique()
temp_df[['PID','Fireplace Qu']].dtypes
data_df[['PID','Fireplace Qu']].dtypes

Ex 5
Gd 4
TA 3
Fa 2
Po 1

PID              int64
Fireplace Qu    object
dtype: object

In [80]:
ordinal_column =[
    'Lot Shape', 'Utilities', 'Land Slope', 'Overall Cond', 'Overall Qual', 'Exter Cond', 'Exter Qual', 'Bsmt Cond', 'Bsmt Qual', 'Bsmt Exposure', 'BsmtFin Type 1',
    'BsmtFin Type 2', 'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Garage Finish', 'Garage Cond', 'Garage Qual', 'Paved Drive',
]

encodeOrdinalColumnToNumeric(data_df,column)

False

In [5]:
pd.get_dummies(data_df,columns=['Fireplace Qu']).head(2)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Fireplace Qu_Ex,Fireplace Qu_Fa,Fireplace Qu_Gd,Fireplace Qu_Po,Fireplace Qu_TA
0,484,528275070,60,RL,NaN,8795,Pave,NaN,IR1,Lvl,...,4,2009,WD,Normal,236000,0,0,0,0,1
1,2586,535305120,20,RL,75.0,10170,Pave,NaN,Reg,Lvl,...,6,2006,WD,Normal,155000,0,0,1,0,0