In [1]:
import pandas as pd
df =  pd.DataFrame({ 'color': ['blue','blue','red','red','blue'], 'value': [2,1,3,3,2]})

In [2]:
df

  color  value
0  blue      2
1  blue      1
2   red      3
3   red      3
4  blue      2

In [3]:
df.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [4]:
df.drop_duplicates()

  color  value
0  blue      2
1  blue      1
2   red      3

In [5]:
df.drop_duplicates(['color'])

  color  value
0  blue      2
2   red      3