In [53]:
import pandas as pd
df = pd.read_csv('http://bit.ly/chiporders',sep='\t')

Perform the following steps:

1. Find the number of duplicated rows.
1. Find the number of duplicated values in each column.
1. Find the number of duplicated rows with respect to the columns 'order_id', 'item_name' and 'item_price'.
1. Remove all occurrences of the duplicated rows with respect to the columns 'order_id', 'item_name' and 'item_price'.

In [54]:
print("Number of duplicated rows:",df.duplicated().sum())

Number of duplicated rows: 59

In [55]:
for i in df.columns:
    print("Number of duplicated values in row",i,":",df[i].duplicated().sum())

Number of duplicated values in row order_id : 2788
Number of duplicated values in row quantity : 4613
Number of duplicated values in row item_name : 4572
Number of duplicated values in row choice_description : 3578
Number of duplicated values in row item_price : 4544

In [56]:
print("Number of duplicated rows with respect to the columns 'order_id', 'item_name' and 'item_price':",
      df.duplicated(['order_id','item_name','item_price']).sum())

Number of duplicated rows with respect to the columns 'order_id', 'item_name' and 'item_price': 249

Remove all occurrences of the duplicated rows with respect to the columns 'order_id', 'item_name' and 'item_price':

In [62]:
df.drop_duplicates(['order_id','item_name','item_price'], keep=False).head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98