In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import random
%matplotlib inline

In [2]:
poisson1 = stats.poisson.rvs(mu=55, size=200000)
poisson2 = stats.poisson.rvs(mu=10, size=100000)
population = np.concatenate((poisson1, poisson2))

In [9]:
test_sample = np.concatenate((stats.poisson.rvs(mu=50, size=200), stats.poisson.rvs(mu=10, size=100)))

In [10]:
t_statistic, p_value = stats.ttest_1samp(test_sample, popmean=population.mean())
t_statistic

-2.911881037264419

In [11]:
p_value

0.0038630026574654206

In [12]:
data =pd.DataFrame(['red']*50000 + ['blue']*30000 + ['green']*10000 + ['white']*10000) 
sample = pd.DataFrame(['red']*600 + ['blue']*300 + ['green']*70 + ['white']*60)

In [13]:
data_count = pd.crosstab(index=data[0], columns="count")
data_count

col_0  count
0
blue   30000
green  10000
red    50000
white  10000

In [14]:
sample_count= pd.crosstab(index=sample[0], columns="count")
sample_count

col_0  count
0
blue     300
green     70
red      600
white     60

In [15]:
expected_count = data_count * len(sample) / len(data)
expected_count

col_0  count
0
blue   309.0
green  103.0
red    515.0
white  103.0

In [16]:
chi_square = ((( sample_count - expected_count)**2) / expected_count).sum()
chi_square

col_0
count    42.815534
dtype: float64

In [17]:
stats.chi2.ppf(q = 0.95, df = 3)

7.814727903251179

In [18]:
p_value = 1 - stats.chi2.cdf(x=chi_square,  df=3)

In [19]:
p_value

array([2.69324241e-09])