In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame(np.full((2,3),'x', dtype=object), columns=['A', 'B', 'C'])
df1

   A  B  C
0  x  x  x
1  x  x  x

In [6]:
df2 = pd.DataFrame(np.full((3,3),'o', dtype=object), columns=['A', 'B', 'C'])
df2

   A  B  C
0  o  o  o
1  o  o  o
2  o  o  o

In [8]:
df3 = pd.DataFrame(np.full((2,2),'v', dtype=object), columns=['D', 'E'])
df3

   D  E
0  v  v
1  v  v

In [12]:
pd.concat([df1,df2]).reset_index(drop=True)

   A  B  C
0  x  x  x
1  x  x  x
2  o  o  o
3  o  o  o
4  o  o  o

In [15]:
pd.concat([df1,df3],sort=False).reset_index(drop=True)

     A    B    C    D    E
0    x    x    x  NaN  NaN
1    x    x    x  NaN  NaN
2  NaN  NaN  NaN    v    v
3  NaN  NaN  NaN    v    v

In [16]:
pd.concat([df1,df2],keys=['df1','df2'])

       A  B  C
df1 0  x  x  x
    1  x  x  x
df2 0  o  o  o
    1  o  o  o
    2  o  o  o

In [17]:
pd.concat([df1, df3], axis=1)

   A  B  C  D  E
0  x  x  x  v  v
1  x  x  x  v  v

In [18]:
pd.concat([df1, df2], axis=1)

     A    B    C  A  B  C
0    x    x    x  o  o  o
1    x    x    x  o  o  o
2  NaN  NaN  NaN  o  o  o

In [20]:
pd.concat([df1, df2], axis=1, join='inner')

   A  B  C  A  B  C
0  x  x  x  o  o  o
1  x  x  x  o  o  o