In [1]:
import pandas as pd
import numpy as np

In [2]:
left = pd.DataFrame({'key1': ['a', 'b', 'c'], 'key2': ['A', 'B', 'C'], 'lval': [ 0, 1, 2]})
right = pd.DataFrame({'key1': ['a', 'b', 'c'], 'key2': ['A', 'D', 'C'], 'rval': [ 3, 4, 6]})

In [5]:
left

  key1 key2  lval
0    a    A     0
1    b    B     1
2    c    C     2

In [4]:
right

  key1 key2  rval
0    a    A     3
1    b    D     4
2    c    C     6

In [6]:
pd.merge(left,right)

  key1 key2  lval  rval
0    a    A     0     3
1    c    C     2     6

In [7]:
pd.merge(left,right,how='outer')

  key1 key2  lval  rval
0    a    A   0.0   3.0
1    b    B   1.0   NaN
2    c    C   2.0   6.0
3    b    D   NaN   4.0

In [8]:
pd.merge(left,right,how='right')

  key1 key2  lval  rval
0    a    A   0.0     3
1    c    C   2.0     6
2    b    D   NaN     4

In [9]:
pd.merge(left,right,on=['key1'])

  key1 key2_x  lval key2_y  rval
0    a      A     0      A     3
1    b      B     1      D     4
2    c      C     2      C     6