In [1]:
import pandas as pd
pd.to_datetime('13th of February, 2009')
#Timestamp('2009-02-13 00:00:00')
pd.to_datetime('02-13-2009')
#Timestamp('2009-02-13 00:00:00')
pd.to_datetime('Feb 13, 2009')
#Timestamp('2009-02-13 00:00:00'

Timestamp('2009-02-13 00:00:00')

In [2]:
pd.to_datetime('Feb 13, 2009 14:20:00').day_name()

'Friday'

In [3]:
date1 = pd.Timestamp('2018-03-03')
date2 = pd.Timestamp('1984-03-03')
date1-date2

Timedelta('12418 days 00:00:00')

In [4]:
pd.Timedelta(days=54, hours=3)

Timedelta('54 days 03:00:00')

In [5]:
date1 + pd.Timedelta(days=54, hours=3)

Timestamp('2018-04-26 03:00:00')

In [7]:
pd.Series([ pd.Timedelta(days=i) for i in range(3) ])

0   0 days
1   1 days
2   2 days
dtype: timedelta64[ns]

In [8]:
jan2015= pd.Period('2015-01')

In [10]:
period = pd.Period('2015-01', freq='H')
period.asfreq('D')

Period('2015-01-01', 'D')